* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-box {
  border: 10px solid rgba(25, 118, 210, 0.5);
  border-radius: 25px;
}

.box {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.select {
  padding: 20px;
  margin-left: 12px;
  max-width: 10px;
}

.button {
  display: flex;
  justify-content: center;
}
